*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-style: normal;
}

.display-none {
    display: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.display-none {
    visibility: hidden;
    /* transition: all 0.5s ease-in-out; */
}

.btn {
    display: inline-block;
    padding: 16px 36px;
    border-radius: 60px;
    border: 1px solid #583CEA;
    font-weight: 500;
    line-height: 16px;
}

.btn-blue {
    background: #583CEA;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn-white {
    background: #fff;
    color: #583CEA;
    transition: all 0.3s ease-in-out;
}

.btn-blue:hover {
    background: #fff;
    color: #583CEA;
}

.btn-white:hover {
    background: #583CEA;
    color: #fff;
}

.highlight-blue {
    color: #583CEA;
}

.container {
    width: 90%;
    max-width: 1286px;
    margin: 0 auto;
}

.header__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */
}

.header__logo {
    cursor: pointer;
}

.header__navigation {
    display: flex;
    /* gap: 32px; */
}

.header__li {
    list-style: none;
    position: relative;
}

.header__link {
    text-decoration: none;
    color: #5D5C65;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    line-height: 160%;
    transition: all 0.3s ease;
    display: block;
    padding: 20px 16px;
}

.header__link:hover {
    color: #583CEA;
}

.header__dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 10px;
    width: 50px;
}

.header__dropdown .header__link {
    padding: 2px 15px;
    display: inline-block;
}

.header__navigation .header__li:hover .header__dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 170px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
    z-index: 1;
}

.header__search-container {
    display: flex;
    gap: 24px;
    align-items: center;
}

.fa-magnifying-glass {
    cursor: pointer;
    font-size: 20px;
    color: #5D5C65;
}

.header__searchBtn:hover {
    background-color: #735ce7;
}

.horizontalLine {
    height: 1px;
    background-color: #eee;
    width: 100vw;
}

.hero__content-wrapper {
    display: flex;
    padding: 100px 0;
}

.hero__info {
    width: 55%;
}

.hero__img {
    width: 45%;
    transform: translateX(30px);
}

.hero__img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__img-container img {
    width: 100%;
    border-radius: 16px;
}

.hero__play {
    width: 80px;
    border-radius: 72px;
    background: rgba(255, 255, 255, 0.70);
    height: 80px;
    display: flex;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

.hero__play .hero__play-img {
    width: 28px;
}

.hero__title {
    color: #0D0B19;
    font-size: 60px;
    white-space: pre-line;
    font-weight: 700;
    line-height: 72px;
}

.hero__description {
    color: #5D5C65;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
}

.hero__btn-container {
    margin: 32px 0 50px 0;
    display: flex;
    gap: 12px;
}

.hero__rating {
    margin-right: 16px;
}

.hero__rating,
.hero__rating-info {
    display: inline-block;
    color: #5D5C65;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    line-height: 160%;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(93, 92, 101, 0.8);
    backdrop-filter: blur(1.5px);
    transition: all 0.1s ease-in-out;
}

.hero__video-close {
    font-size: 30px;
    align-self: flex-start;
    margin-top: 60px;
    margin-left: 20px;
    color: #FFF;
    cursor: pointer;
}

.hero__video video {
    height: 80%;
    border-radius: 16px;
}

.statistics {
    background: #F7F6FE;
}

.statistics__content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 48px 100px;
}

.statistics__box {
    width: 193px;
}

.statistics__number {
    display: flex;
}

.statistics__p {
    color: #0D0B19;
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
}

.statistics__icon {
    align-self: flex-start;
}

.statistics__title {
    color: #5D5C65;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.benefit {
    padding: 160px 0;
    position: relative;
}

.benefit__background-img {
    position: absolute;
    top: 0;
    right: 0;
}

/* .benefit__background-img {
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(../img/svg/benefit_background.svg) no-repeat;
    height: 100%;
    width: 14%;
} */

.benefit__card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 30px;
    margin-top: 60px;
}

.benefit__header {
    color: #0D0B19;
    white-space: pre-line;
    text-align: center;
    font-family: Kanit;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.benefit__title {
    color: #0D0B19;
    font-size: 24px;
    font-weight: 900;
    line-height: 26.4px;
    white-space: pre-line;
    margin: 16px 0 8px 0;
}

.benefit__p {
    color: #5D5C65;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    line-height: 25.6px;
}

.service {
    background-color: #F7F6FE;
    padding: 160px 0;

    .service__container {
        width: 95%;
        max-width: 1336px;
        margin: 0 auto;

        .service__content-wrapper {
            display: flex;
            flex-direction: column;

            .service__heading {
                font-weight: 700;
                font-size: 48px;
                line-height: 57.6px;
                text-align: center;
                color: #0D0B19;
                margin-bottom: 60px;
            }

            .service__card-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
                gap: 16px;

                .service__card {
                    position: relative;
                    overflow: hidden;
                    border-radius: 4px;

                    .service__img-container {
                        transition: all 0.3s ease-in-out;

                        .service__link {
                            display: block;

                            .service__img {
                                vertical-align: middle;
                                /* background-color: red; */
                                display: inline-block;
                                margin-bottom: 0;
                                margin-left: auto;
                                margin-right: auto;
                                width: 100%;
                                height: auto;
                                overflow: hidden;
                            }
                        }
                    }

                    .service__info-container {
                        position: absolute;
                        bottom: -28px;
                        left: 0;
                        width: 100%;
                        padding: 16px 24px;
                        transition: all 0.3s ease-in-out;

                        .service__name {
                            font-weight: 600;
                            font-size: 28px;
                            line-height: 33.6px;
                            color: #FFFFFF;
                        }

                        .service__info {
                            font-family: "Manrope", sans-serif;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 22.4px;
                            color: #FFFFFF;
                            opacity: 0;
                            transition: all 0.3s ease-in-out;
                        }

                        &.service__info-1 {
                            background: #E646FF;
                        }

                        &.service__info-2 {
                            background: #70BF56;
                        }

                        &.service__info-3 {
                            background: #F72A70;
                        }

                        &.service__info-4 {
                            background: #FFA051;
                        }

                        &.service__info-5 {
                            background: #02BFFF;
                        }

                        &.service__info-6 {
                            background: #8056BF;
                        }
                    }

                    &:hover {
                        .service__img-container {
                            transform: scale(1.2);
                        }

                        .service__info-container {
                            bottom: 0;

                            .service__info {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .service__btn {
            margin-top: 48px;
            align-self: center;
        }
    }
}


.promotion {
    padding: 160px 0 100px 0;
}

.promotion__h1 {
    color: #0D0B19;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.promotion__text-container {
    display: flex;
}

.promotion__heading,
.promotion__info {
    width: 50%;
}

.promotion__heading h1 span {
    color: #583CEA;
    white-space: pre-line;
}

.promotion__info-top,
.promotion__info-bottom {
    color: #5D5C65;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    line-height: 160%;
}

.promotion__info-bottom {
    margin-top: 16px;
}

.promotion__video {
    width: 100%;
    margin-top: 60px;
}

.promotion__video video {
    width: 100%;
    border-radius: 16px;
}

.clients {
    padding: 0 40px;
    /* margin-bottom: 160px; */
}

.client__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.approach {
    padding: 160px 0;

    .approach__content-wrapper {
        display: flex;
        flex-direction: column;

        .approach__heading {
            font-weight: 700;
            font-size: 48px;
            line-height: 57.6px;
            text-align: center;
            white-space: pre-line;
            color: #1E1431;
        }

        .approach__card-container {
            display: flex;
            flex-direction: column;
            gap: 120px;
            margin: 100px 0;

            .approach__single-card {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8.33%;

                .approach__card-left {
                    width: 33.33%;
                    position: relative;
                    height: auto;
                    padding: 140px 0;

                    .approach__icon-container {
                        .approach__icon {
                            display: inline-block;
                            margin-bottom: 24px;
                        }
                    }

                    .approach__card-header {
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 26.4px;
                        color: #0D0B19;
                        margin: 24px 0 8px 0;
                        /* margin-top: 24px;
                        margin-bottom: 8px; */
                    }

                    .approach__card-info {
                        font-family: "Manrope", sans-serif;
                        font-weight: 500;
                        line-height: 25.6px;
                        color: #5D5C65;
                        margin-bottom: 22px;
                    }

                    .approach__card-img {
                        position: absolute;
                        top: 0;
                        left: 80px;
                        display: inline-block;
                        max-width: 100%;
                    }
                }

                .approach__card-right {
                    width: 41.66%;

                    .approach__card-img {
                        width: 100%;
                    }
                }


            }
        }

        .btn-center {
            align-self: center;
        }
    }
}

.testimonial {
    background: #F7F6FE;
    padding: 160px 0 80px 0;

    .testimonial__content-wrapper {
        .testimonial__heading {
            font-size: 48px;
            font-weight: 700;
            line-height: 57.6px;
            text-align: center;
            color: #0D0B19;

        }

        .testimonial__box-container {
            display: flex;
            gap: 30px;
            margin-top: 60px;

            .testimonial__box {
                width: 33.33%;

                .testimonial__message-container {
                    padding: 32px;
                    position: relative;
                    background: #FFFFFF;
                    border-radius: 8px;

                    .testimonial__message {
                        font-family: "Manrope", sans-serif;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28.8px;
                        color: #5D5C65;
                    }

                    .testimonial__message-icon1 {
                        position: absolute;
                        bottom: -30px;
                        left: 52px;
                    }

                    .testimonial__message-icon2 {
                        position: absolute;
                        bottom: 0;
                        right: 25px;
                    }

                }

                .testimonial__customer-info {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    margin-top: 40px;
                    margin-left: 32px;

                    .testimonial__customer-img {
                        .testominial__img {
                            /* height: 72px;
                            width: 72px; */
                            /* border-radius: 285px; */
                            /* object-fit: cover; */
                            /* object-position: top; */
                        }
                    }

                    .testimonial__customer-data {
                        .testimonial__name {
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 26px;
                            color: #0D0B19;
                        }

                        .testimonial__designation {
                            font-family: "Manrope", sans-serif;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22.4px;
                            color: #5D5C65;
                        }
                    }
                }
            }
        }
    }
}

.joinus {
    background: #EEF1FC;
    padding: 100px 110px;
}

.joinus__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.joinus__h2 {
    color: #0D0B19;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    white-space: pre-line;
}

.joinus__btn .btn {
    margin-top: 32px;
}



.faq {
    padding: 160px 0;
    position: relative;

    .faq__background-img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .container {
        width: 70%;
        max-width: 850px;

        .faq__content-wrapper {
            .faq__heading {
                color: #0D0B19;
                text-align: center;
                font-size: 48px;
                font-weight: 700;
                line-height: 57.6px;
                white-space: pre-line;
                margin-bottom: 60px;
            }

            .faq__info-conatiner {
                .faq__faques {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .faq__item {
                        border-radius: 1px;
                        background: #F7F7F7;
                        padding: 24px;

                        &.faq__border {
                            border-bottom: 2px solid #A89AF4;
                        }


                        .faq__title {
                            color: #0D0B19;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 26px;
                            width: 100%;
                            cursor: pointer;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &.active {
                                color: #583CEA;
                            }

                            &:hover {
                                color: #583CEA;
                            }

                            .faq__down-arrow {}
                        }

                        .pannel {
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height 0.2s ease-out;

                            .faq__info {
                                color: #5D5C65;
                                font-family: "Manrope", sans-serif;
                                font-weight: 500;
                                line-height: 25.6px;
                                margin-top: 16px;
                            }
                        }
                    }
                }
            }

            .faq__queries {
                display: block;
                padding-bottom: 4px;
                text-decoration: underline;
                text-align: center;
                color: #583CEA;
                line-height: 16px;
                margin-top: 48px;
            }
        }
    }
}

.footer {
    background-color: #0D0B19;
    font-family: "Manrope", sans-serif;
    padding: 120px 0 100px 0;

    .conainer {
        width: 90%;
        max-width: 1248px;
        margin: 0 auto;

        .footer__content-wrapper {
            display: flex;
            gap: 20px;

            .footer__social {
                width: 25%;

                .footer__social-top {
                    .footer__logo-container {
                        .footer__logo {}
                    }

                    .footer__info {
                        color: #EAE8EC;
                        font-weight: 500;
                        line-height: 25.6px;
                        white-space: pre-line;
                        margin: 12px 0 24px 0;
                    }
                }

                .footer__social-logo-container {
                    .footer__ul {
                        display: flex;
                        gap: 8px;

                        .footer__li {
                            list-style: none;

                            .footer_link {
                                display: flex;
                                width: 40px;
                                height: 40px;
                                padding: 10px;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                color: #fff;
                                border-radius: 40px;
                                background: transparent;
                                border: 1px solid #583CEA;
                                transition: all 0.3s ease-in-out;

                                &:hover {
                                    background-color: #583CEA;
                                }

                                .footer__social-icon {}
                            }
                        }
                    }
                }
            }


            .footer__quick-links {
                display: grid;
                grid-template-columns: 18% 32% 50%;
                gap: 20px;
                margin-left: 84px;
                width: 58.33%;

                .quick_link1 {

                    .footer__quick-link-header {
                        color: #FFF;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 28.8px;
                        margin-bottom: 24px;
                    }

                    .footer__quick-ul {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        .fooer__quick-li {
                            list-style: none;

                            .footer__quick-link-a {
                                color: #EAE8EC;
                                font-weight: 500;
                                line-height: 25.6px;
                                text-decoration: none;
                                transition: all 0.3s ease-in-out;

                                &:hover {
                                    color: #583CEA;
                                }
                            }
                        }
                    }
                }

                .quick_link2 {

                    .footer__quick-link3-header {
                        color: #FFF;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 28.8px;
                    }

                    .footer__contact-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                        margin-top: 24px;

                        .footer__telephone {
                            display: flex;
                            gap: 12px;

                            .footer__telephone-icon {}

                            .footer__number {
                                line-height: 25.6px;
                                color: #EAE8EC;
                            }
                        }

                        .footer__email {
                            display: flex;
                            gap: 12px;

                            .footer__message {}

                            .footer__email {
                                color: #EAE8EC;
                                font-weight: 500;
                                line-height: 25.6px;
                            }
                        }

                        .footer__location {
                            display: flex;
                            gap: 12px;

                            .footer__location-icon {}

                            .footer__address {
                                white-space: pre-line;
                                color: #EAE8EC;
                                font-weight: 500;
                                line-height: 25.6px;
                            }
                        }
                    }
                }

                .quick_link3 {

                    .footer__subscribe-info {
                        width: 100%;
                        color: #FFF;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 28.8px;
                        white-space: pre-line;
                        margin-bottom: 16px;
                    }

                    .footer__input {
                        position: relative;
                        width: 100%;

                        .footer__input-box {
                            width: 100%;
                            /* min-width: 300px; */
                            /* width: 374px; */
                            height: 60px;
                            padding: 8px 4px 8px 20px;
                            border-radius: 64px;
                            background: #FFF;
                            border: none;
                            outline: none;
                            font-family: "Manrope", sans-serif;

                            &::placeholder {
                                color: #5D5C65;
                                font-weight: 500;
                                line-height: 25.6px;
                            }
                        }

                        .footer__send-icon {
                            position: absolute;
                            top: 4px;
                            right: 4px;
                            height: 52px;
                            width: 52px;
                            background-color: #583CEA;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 52px;
                            cursor: pointer;
                            transition: background-color 0.3s ease-in-out;

                            &:hover {
                                background-color: #3e19f5;
                            }
                        }
                    }
                }
            }


        }
    }
}