* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    height: 50vh;
    background: #eee;

    .container {
        height: 70%;
        background-color: #ccc;

        .header__content-wrapper {
            height: 70%;
            background-color: #ee8585;

            .header__ul {
                display: flex;
                gap: 30px;

                .header__li {
                    list-style: none;

                    .header__link {
                        display: inline-block;
                        text-decoration: none;
                        color: #fff;
                        font-size: 20px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}